@font-face {
  font-family: 'Alice';
  src: url('Alice-Regular-webfont.woff') format('woff');
}
header {
  font-family: 'Alice', sans-serif;
  text-align: center;
  background-color: #D7C7F2;
  padding-bottom: 5px;
  border-top: 3px solid #918E96;
  border-bottom: 3px solid #918E96;
  border-left: 2px solid #918E96;
  border-right: 2px solid #918E96;
}
footer {
  text-align: center;
}
body {
  border-left: 2px solid #918E96;
  border-right: 2px solid #918E96;
background-color: #E7E7E7;
/*  background-image: url('images/floral-5725376_960_720.png'); */
}

ul {
  margin: 0;
}
li {
  display: inline;
  margin-right: 50px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

footer {
  background-color:  #D7C7F2;
  padding-bottom: 2px;
  border-top: 3px solid #918E96;
  border-bottom: 3px solid #918E96;
  border-left: 2px solid #918E96;
  border-right: 2px solid #918E96;
}

.button {
  color: #FFF;
  background-color: #5995DA;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}
