@font-face {
  font-family: 'Alice';
  src: url('Alice-Regular-webfont.woff') format('woff');
}

h1, h2, h3, h4 {
  font-family: 'Alice', sans-serif;
  text-align: center;
}

.flex-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #D3D3D3;
}

.flex-row {
  display: flex;
  align-items:center;
  justify-content: space-between;
  background-color: #D3D3D3;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.flex-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #D3D3D3;
}

.flex-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D7C7F2;
  max-width: 100%;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
}

header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #D7C7F2;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  background-color: #D7C7F2;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
}

.button {
  color: #000000;
  background-color: #A9A9A9;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  margin: 20px auto;
}
